@charset "UTF-8";
/* variables des couleurs */
* {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  margin: 0;
}

body {
  background: #F7F7F7;
}

img {
  object-fit: cover;
}

.title-section {
  font-size: 24px;
  font-weight: 700;
}

.icone-color {
  color: #7E7E7E;
}

.icone-primary {
  color: #9356DC;
}

/* loarder */
.loader {
  position: fixed;
  background-color: #ffffff;
  height: 100vh;
  inset: 0;
  z-index: 1;
  opacity: 0.9;
  animation: desappear 0.1s 2.6s forwards;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}
.loader__circle-1 {
  opacity: 1;
  font-size: 60px;
  animation: spin 1s linear;
  animation-iteration-count: 2;
  color: #9356DC;
}
.loader__circle-2 {
  font-size: 60px;
  animation: spin 1s 0.25s linear;
  animation-iteration-count: 2;
  color: #FF79DA;
}
.loader__circle-3 {
  font-size: 60px;
  animation: spin 1s 0.5s linear;
  animation-iteration-count: 2;
  color: #99E2D0;
}

@keyframes desappear {
  0% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
@keyframes spin {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  50% {
    transform: translateY(0.5em) rotate(180deg);
  }
  100% {
    transform: translateY(0) rotate(360deg);
  }
}
.btn {
  color: #FFFFFF;
  background: linear-gradient(0deg, rgb(147, 86, 220) 11%, rgb(255, 121, 218) 123%);
  border-radius: 25px;
  border: none;
  height: 50px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition-duration: 0.25s;
}
.btn a {
  text-decoration: none;
  color: #FFFFFF;
}
.btn:hover {
  box-shadow: 0.25rem 0.25rem 20px rgba(0, 0, 0, 0.5);
  opacity: 0.8;
}
.btn__explorer {
  width: 218px;
  display: flex;
  text-decoration: none;
  justify-content: center;
  align-items: center;
}
.btn__commander {
  width: 186px;
  text-align: center;
  padding: 13px;
}

.header {
  display: flex;
  flex-direction: column;
}
.header img {
  width: 162px;
}
@media (min-width: 1024px) {
  .header img {
    width: 200px;
  }
}
.header__logo {
  display: flex;
  justify-content: center;
  width: 100%;
  background: #FFFFFF;
  padding-bottom: 15px;
  padding-top: 15px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  position: relative;
}
@media (min-width: 1024px) {
  .header__logo {
    padding-bottom: 31.8px;
    padding-top: 30px;
  }
}
.header__arrow {
  position: absolute;
  left: 23px;
  color: #353535;
}
.header__arrow-style {
  text-decoration: none;
  color: #353535;
}
.header__content {
  display: flex;
  align-items: center;
}
.header form {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eaeaea;
  width: 100%;
  gap: 17px;
  padding: 15.5px 0px;
}
.header__localisation {
  font-size: 16px;
  border: none;
  background-color: #eaeaea;
  width: 109px;
}

footer {
  background: #353535;
  color: #FFFFFF;
  padding: 22px 0px 22px 25px;
}
@media (min-width: 1024px) {
  footer {
    display: flex;
    justify-content: flex-start;
    flex-direction: row-reverse;
    align-items: center;
    gap: 16px;
    padding: 57px 26.42px 30px 0px;
  }
}
footer .title-footer {
  font-family: "Shrikhand", cursive;
  font-style: italic;
  font-size: 18px;
  font-weight: 400;
}
@media (min-width: 1024px) {
  footer .title-footer {
    height: 27px;
    width: 138px;
  }
}
footer .list-footer {
  list-style: none;
  padding-left: 0px;
  padding-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 7px;
}
@media (min-width: 1024px) {
  footer .list-footer {
    display: flex;
    flex-direction: row;
    padding-top: 0px;
  }
}
footer .list-footer a {
  font-size: 16px;
  text-decoration: none;
  color: #FFFFFF;
}
@media (min-width: 1024px) {
  footer .list-footer a {
    width: 50%;
  }
}
footer .responsive-footer {
  gap: 7px;
  display: flex;
  flex-direction: column;
}
@media (min-width: 1024px) {
  footer .responsive-footer {
    display: flex;
    flex-direction: row;
  }
}
footer .logo-footer {
  padding-right: 11px;
  color: #FFFFFF;
}

@media (min-width: 1024px) {
  .size-nav {
    width: 661px;
  }
  .first-section {
    width: 60%;
  }
  .second-section {
    width: 40%;
  }
}
.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 39.5px;
  padding-bottom: 57px;
}
@media (min-width: 1024px) {
  .intro {
    gap: 18px;
    padding-top: 30px;
  }
}
.intro__title {
  width: 275px;
  height: 68px;
}
@media (min-width: 1024px) {
  .intro__title {
    font-size: 40px;
    width: 645px;
    height: 47px;
  }
}
.intro__subtitle {
  font-size: 18px;
  font-weight: 300;
  width: 315px;
  padding-bottom: 27px;
}
@media (min-width: 1024px) {
  .intro__subtitle {
    width: 531px;
    height: 46px;
    line-height: 21px;
    padding-bottom: 0px;
    display: flex;
    text-align: center;
    align-items: center;
  }
}

.section-Fonctionnement {
  background-color: #FFFFFF;
  padding: 48px 20px 68px 20px;
}
@media (min-width: 1024px) {
  .section-Fonctionnement {
    display: flex;
    justify-content: center;
  }
}
.section-Fonctionnement h2 {
  padding-bottom: 26px;
}
.section-Fonctionnement__list {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 0px;
  padding-left: 12.51px;
}
@media (min-width: 1024px) {
  .section-Fonctionnement__list {
    flex-direction: row;
  }
}
@media (min-width: 1024px) {
  .section-Fonctionnement .Fonctionnement__content {
    width: 1054px;
    max-width: 1054px;
  }
}

/* prorietes bouton fonctionnement */
.button-fonctionnement {
  background-color: #F7F7F7;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 25px;
  padding: 28.59px 0px;
  display: flex;
  gap: 27px;
  padding-left: 33.5px;
  font-size: 16px;
}
@media (min-width: 1024px) {
  .button-fonctionnement {
    position: relative;
    width: 33%;
  }
}
.button-fonctionnement .numero-list {
  position: absolute;
  left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  background: #9356DC;
  height: 24px;
  width: 24px;
  border-radius: 25px;
}
@media (min-width: 1024px) {
  .button-fonctionnement .numero-list {
    left: -12px;
  }
}

/* propriétés section restaurants */
.restaurants {
  padding: 54px 18px 66px 17px;
}
@media (min-width: 1024px) {
  .restaurants {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
    padding-top: 30px;
  }
}
@media (min-width: 1024px) {
  .restaurants__content {
    max-width: 1080px;
    width: 100%;
  }
}
.restaurants__articles {
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding-top: 30px;
}
@media (min-width: 1024px) {
  .restaurants__articles {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
  }
}
.restaurants__lien {
  text-decoration: none;
  color: black;
}

.card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-content .name-restaurants {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-top: 16px;
  padding-left: 13px;
  padding-bottom: 15px;
}
.card-content .title-content {
  font-size: 18px;
}
.card-content .info-restaurants {
  font-size: 17px;
  font-weight: 300;
}
.card-content .logo-heart {
  padding-right: 25px;
}
.card-content .logo-heart i {
  font-size: 21px;
}

.restaurants__cards {
  background-color: #FFFFFF;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.restaurants__cards img {
  max-width: 100%;
  height: 190px;
  border-radius: 15px 15px 0px 0px;
  object-position: 50% 60%;
}

.new-restaurants {
  color: #008766;
  background: #99E2D0;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  width: 61px;
  text-align: center;
  padding: 7px 9px;
  position: absolute;
  right: 12px;
  top: 13px;
}

/* animation logo heart */
.logo-heart__nobg {
  position: absolute;
}
.logo-heart__bg {
  position: relative;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(0deg, rgb(147, 86, 220) 11%, rgb(255, 121, 218) 123%);
  opacity: 0;
  transition: all 0.2s;
}
.logo-heart__bg:hover {
  opacity: 1;
  transform: scale(1.1);
}

.body-pagemenu {
  background-color: #FFFFFF;
  margin-bottom: -30px;
}

.img-plat {
  max-height: 275px;
  width: 100%;
  object-fit: cover;
}

.menu {
  background-color: #F7F7F7;
  border-radius: 32px 32px 0px 0px;
  position: relative;
  top: -32px;
  padding: 32px 13px 0px 13px;
}
@media (min-width: 1024px) {
  .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1055px;
    margin: auto;
  }
}
.menu__header {
  display: flex;
  justify-content: space-between;
}
.menu__title {
  font-family: "Shrikhand", "cursive";
  font-size: 28px;
  font-style: italic;
  font-weight: 400;
  padding-right: 24px;
}
.menu__btn {
  padding-right: 24px;
  border: none;
  background-color: #F7F7F7;
  cursor: pointer;
}
.menu__btn .btn__size {
  font-size: 22px;
}

.card-title {
  font-size: 16px;
  font-weight: 300;
  padding-bottom: 10px;
  position: relative;
}
.card-title::after {
  content: "";
  width: 40px;
  height: 3px;
  background-color: #99e2d0;
  position: absolute;
  left: 0;
  bottom: 0;
}

.article-menu {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-top: 40px;
}

.card-article {
  background-color: #FFFFFF;
  border-radius: 15px;
  height: 69px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
}
@media (min-width: 1024px) {
  .card-article {
    width: 634px;
  }
}
.card-article__elements {
  display: flex;
  justify-content: space-between;
  padding: 15px 12px;
  width: 100%;
  overflow: hidden;
}
.card-article__name {
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  overflow: hidden;
}
.card-article__title {
  font-size: 18px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.card-article__subtitle {
  font-size: 15px;
  font-weight: 300;
  text-overflow: ellipsis;
  overflow: hidden;
}
.card-article__price {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.content-commander {
  display: flex;
  justify-content: center;
  padding: 40px;
}

/* animations */
/* animations des plat */
.card-article {
  overflow: hidden;
}
.card-article__check {
  display: flex;
  background-color: #99E2D0;
  justify-content: center;
  align-items: center;
  height: 69px;
  width: 59px;
  border-radius: 0px 15px 15px 0px;
  margin-right: -59px;
  transition: all 0.4s;
}
.card-article__bgcheck {
  background-color: white;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 20px;
}
.card-article__logo {
  color: #99E2D0;
}
.card-article:hover .card-article__check {
  margin-right: 0px;
}

/* animations des menu */
@keyframes apparaitre {
  0% {
    transform: scale(0);
    transform-origin: 100% 50%;
  }
  100% {
    transform: scale(1);
  }
}
.delai-menu-1 {
  animation: apparaitre 1.5s cubic-bezier(0.58, 1.13, 0.82, 0.96) both;
  animation-delay: 0s;
}

.delai-menu-2 {
  animation: apparaitre 1.5s cubic-bezier(0.58, 1.13, 0.82, 0.96) both;
  animation-delay: 0.5s;
}

.delai-menu-3 {
  animation: apparaitre 1.5s cubic-bezier(0.58, 1.13, 0.82, 0.96) both;
  animation-delay: 1s;
}

/*# sourceMappingURL=style.css.map */
