.header{
    &__content {
    display:flex;
    align-items:center;
    justify-content:center;
    position: relative;
    }
    &__arrow {
        position: absolute;
        left: 23px;
        color: $background-footer;
        
    }
    &__arrow-style{
        text-decoration: none;
        color: #353535;
    }

}

.img-plat {
    max-height: 375px;
    width: 100%;
    object-fit: cover;
}
.menu {
    background-color: $color-background;
    border-radius: 32px 32px 0px 0px;
    position: relative;
    top: -32px;
    padding: 32px 13px 0px 13px ;
    &__header{
        display: flex;
        justify-content: space-between;
    }
    &__title{
        font-family:"Shrikhand","cursive";
        font-size: 28px;
        font-style: italic;
        font-weight: 400;
    }
    &__btn {
        padding-right: 24px;
        border: none;
        background-color: $color-background;
        cursor: pointer;

        .btn__size {
            font-size: 22px;
        }
    }
}

.article-menu {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.card-article {
    background-color: $background-content;
    border-radius: 15px;
    padding: 12px 15px 12px 15px;
    display: flex;
    justify-content: space-between;
    &__name{
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
    &__price {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
}