.btn {
    color:$color-text;
    font-size: 16px;
    background: linear-gradient(0deg, rgb(147, 86, 220) 11%, rgb(255, 121, 218) 123%);
    border-radius: 25px;
    border: none;
    height: 50px;
    @include btn-shadow;
    cursor: pointer;
    transition-duration: .25s;
    &:hover {
        box-shadow: 0.25rem 0.25rem 20px rgba(0,0,0,.5);
        opacity: 0.8;
    }
    &__explorer{
        width: 218px;
        padding: 13px 18.75px;
    }
    &__commander{
        width: 186px;
        text-align: center;
        padding: 13px;
    }
}