/* variables des couleurs */ 

$color-primary: #9356DC ;
$color-secondary: #99E2D0;
$color-tertiary: #008766;
$color-quaternary:#FF79DA;
$color-text:#FFFFFF;
$background-content:#FFFFFF;
$background-footer: #353535;
$color-background:#F7F7F7;

