.body-pagemenu{
    background-color: $background-content;
    margin-bottom: -30px;
  }

.img-plat {
    max-height: 275px;
    width: 100%;
    object-fit: cover;
}
.menu {
    background-color: $color-background;
    border-radius: 32px 32px 0px 0px;
    position: relative;
    top: -32px;
    padding: 32px 13px 0px 13px ;
    @media (min-width:1024px){
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 1055px;
        margin:auto;
    }
    &__header{
        display: flex;
        justify-content: space-between;
    }
    &__title{
        font-family:"Shrikhand","cursive";
        font-size: 28px;
        font-style: italic;
        font-weight: 400;
        padding-right: 24px;
    }
    &__btn {
        padding-right: 24px;
        border: none;
        background-color: $color-background;
        cursor: pointer;

        .btn__size {
            font-size: 22px;
        }
    }
}
.card-title{
    font-size: 16px;
    font-weight: 300;
    border-bottom: 3px solid $color-secondary;
    width: 40px;
    padding-bottom: 5px;
}
.article-menu {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-top: 40px;
}

.card-article {
    background-color: $background-content;
    border-radius: 15px;
    height: 69px;
    display: flex;
    justify-content: space-between;
    @include card-shadow;
    @media (min-width :1024px){
        width: 634px;
    }    
    &__elements{
        display: flex;
        justify-content: space-between;
        padding: 15px 12px;
        width: 100%;
        overflow: hidden;
    }
    &__name{
        display: flex;
        flex-direction: column;
        white-space: nowrap;
        overflow: hidden;
        
    }
    &__title{
        font-size: 18px;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    &__subtitle{
        font-size: 15px;
        font-weight: 300;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    &__price {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
}
.content-commander{
    display: flex;
    justify-content: center;
    padding:40px
}


/* animations */ 

/* animations des plat */
.card-article{
    overflow: hidden;
    animation: apparaitre 1.5s cubic-bezier(.58,1.13,.82,.96) both;
    @for $i from 1 through 4 {
        &:nth-child(#{$i}){
            animation-delay: 100ms * $i;
        }  
    }
    &__check{
        display: flex;
        background-color: $color-secondary;
        justify-content: center;
        align-items: center;
        height: 69px;
        width: 59px;
        border-radius: 0px 15px 15px 0px;
        margin-right: -59px;
        transition: all 0.4s;
        
    }
    &__bgcheck{
        background-color: white;
        border-radius: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 20px;
        width: 20px;
    }
    &__logo{
        color: $color-secondary;
    }
    &:hover &__check{
        margin-right: 0px;

    }
    
}

/* animations des menu */


@keyframes apparaitre{
    0%{
        transform: scale(0);
        transform-origin: 100% 50%;
    }
    100%{
        transform: scale(1);
        
    }
}







