.header{
    display: flex;
    flex-direction: column;
    img{
        width: 162px;
        @media (min-width: 1024px){
        width: 200px;  
        }   
    }
    &__logo{
        display: flex;
        justify-content: center;
        width: 100%;
        background: $background-content;
        
        padding-bottom: 15px;
        padding-top: 15px;
        @media (min-width: 1024px){
            padding-bottom: 31.8px;
            padding-top: 30px;
        }
        &__shadows{
            @include header-shadow;
        }
    }
    form {
        display: flex;
        justify-content: center;
        background-color: #eaeaea;
        width: 100%;
        gap: 17px;
        padding: 15.5px 0px;
    }
      &__localisation{
        font-size: 16px;
    }
 }